<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h2>SEARCH EMPLOYEE</h2>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">ADMISSION NO.</label>
                    <input type="text" name="admno" [(ngModel)]="admno"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-primary">SEARCH</button>
                </div>
            </div>
            <div class="row g-3" *ngFor="let i of searchdata">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">NAME</label>
                    <input type="text" value={{i.name}}  class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">ROLL NO.</label>
                    <input type="text" value={{i.rollno}}  class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">COLLEGE</label>
                    <input type="text" value={{i.college}}  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-danger" (click)="deletebuttonclick(i.id)">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>